body {
    background-image: url(Hexagon-dotted-connect-line-background.jpg);
    background-repeat: no-repeat;
    margin: 0px;
  }
  
  header {
    box-shadow: 0px 2px 0px 0px white;
    border-radius: 0% 0% 5% 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .connex {
    border: 3px solid black;
    border-radius: 50px;
    text-decoration: none;
    color: black;
    background-color: rgb(122, 121, 120);
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-size: large;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .connex:hover {
    opacity: 0.8;
    background-color: rgb(241, 234, 45);
    transition: all 0.2s;
  }
  
  .shoppingbag {
    display: flex;
    text-align: center;
    margin-left: 30px;
  }
  
  .lien {
    display: flex;
    position: relative;
    align-items: center;
    bottom: 1em;
    margin-top: 20px;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo i{display: flex;}
  .logo a {
    display: flex;
    text-decoration: none;
  }
  
  .reseau {
    text-decoration: none;
    margin: 20px;
    font-size: 2em;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-radius: 50%;
    background: rgb(193, 192, 192);
    box-shadow: 5px 5px 6px black, -5px -5px 6px black;
  }

  .reseau:hover {
    box-shadow: inset 5px 5px 6px black, inset -5px -5px 6px darkgrey;
  }
  
  .searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin-top: 40px;
  }
  
  .input {
    font-size: large;
    font-weight: bold;
    border-radius: 10px 0px 0px 10px;
    margin: 0;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .bouton-rechercher {
    font-size: large;
    background-color: black;
    border-radius: 0px 10px 10px 0px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: bisque;
  }
  .bouton-rechercher :hover {
    opacity: 0.5;
  }
  
  .pokimage {
    width: 290px;
    height: 200px;
    position: relative;
  }
  

  h1 {
    text-align: center;
    padding: 10px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

.back{
    text-decoration: none;
    color: black;
   margin-right: 130px;
}
.back:hover{
   opacity: 0.5;
}
.card {
    width: 300px;
    height: 340px;
    background-color: rgba(255, 255, 255, 0.1);
            backdrop-filter: blur(5px);
    border-radius: 15px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 1px solid black;
    justify-content: center;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 10px 5px;
    margin: 20px;
  }
  
  .card .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .picture {
    margin-bottom: 10px;
    object-fit: contain;
  }
  
  .content .picture img {
    width: 100%;
    height:150px;
    margin-top: 20px;
       object-fit:cover;
    opacity: 0.9;
    border-radius: 20px;

  }
  
  .card a {
    text-decoration: none;
    margin-bottom: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
  }
  
  .card .content p {
    opacity: 0.7;
  }
  
  .card .content a, p {
    color: white;
    text-align: center;
    text-decoration: none;
    color: black;
    opacity: 0.8;
    margin: 0px;
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .card-align {
    display: grid;
 grid-template-columns: repeat(3,1fr);
    transition: transform 0.5s ease-in-out;
    margin-bottom: 20px;
    justify-items: center;
  }
  footer {
    background-color: antiquewhite;
  }
  footer a {
    text-decoration: none;
    color: black;
    font-size: large;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font: weight 700px;
  }
  footer li {
    list-style: none;
    margin: 10px;
  }
  footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @media (max-width: 790px){
    body{
      margin-left: 0px;
    }
    .back{
      display: flex;
      margin-top: 20px;
     height: 30px;
     width: 10px;
     margin-right: 350px;
    }
    header{
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-direction: column;
    }
  
    .carrousel{
      display:flex ;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .card{
      width: 100%;
     align-content: center;
     justify-content: center;
    
    }
   .card-align{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
   }
  
   .content .picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-content: center;
   }
  
  }
  